{% extends 'hfe/ko/layouts/application.html' %}
{% load static %}

{% block content %}
  <!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- 페이지 본문 -->
    <!-- 중앙 정렬을 위한 col -->
    <div class="col-md-1 col-xs-1"></div>
    <!-- 본문 내용 -->
    <div class="col-md-10 col-xs-10">
      <br>
      <br>
      <div id="about_wrapper" class="about_wrappers" align="center">
        <span style="font-size: 2.1rem;">About</span>
        <h2>&middot;</h2>
        <p style="font-size: 1.5rem;">
          인간공학은 인간 신체와 인지에 대한 과학적 이해를 바탕으로 인간과 시스템 (제품, 기계, 컴퓨터) 사이에 일어나는 물리적 및 인지적 상호작용을 연구하는 분야이며, 이러한 과학적 연구를 통해 얻어지는 데이터를 이용하여 인간의 안전과 편의를 향상시키고 시스템의 효율성을 높일 수 있는 인간중심 최적설계와 제품 개발의 역할을 합니다.
        </p>
        <p style="font-size: 1.5rem;"> 
          인간공학은 인지심리학, 생리학, 컴퓨터과학, 산업공학, 기계공학, 산업디자인 등의 다양한 분야에 기초를 두고 있으며, 뇌공학, 감성공학, 피지컬컴퓨팅, 의료생체역학 등의 응용분야를 가지고 있습니다.
        </p>
        <p style="font-size: 1.5rem;">
          유니스트의 인간공학은 과학과 공학에 기초를 둔 인간중심 디자인을 추구하며, 이를 통해 인류의 복지와 행복 향상에 기여하고자 합니다.
        </p>
      </div>

      <div id="about_wrapper" class="about_wrappers" align="center">
        <span style="font-size: 2.1rem;">Scale & Future</span>
        <h2>&middot;</h2>
        <div class="row area_row">

          <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-4">
              <div style="margin-top: 50px; text-align: center;">
                <p>undergraduate</p>
                <img src= "{% static 'images/about/undergraduate_circle.png'%}" style= "width:40%;">
                <br>
                <img src= "{% static 'images/about/undergarduate_1st_2st.png'%}" style= "width:15%;" margin-top="15px;">
                <!-- <%= image_tag("about/undergarduate_1st_2st.png", style: "width:15%; margin-top:15px;") %> -->
                <br>
                <span style="font-size: 40px !important; color: red;">44</span>
                <span style="font-size: 13px; color: red;">명</span>
                <span style="font-size: 40px !important; color: dimgrey">190</span>
                <span style="font-size: 13px; color: dimgrey;">명</span>
              </div>
            </div>

            <div class="col-md-8">
              <div style="margin-top: 70px;">
                <img src= "{% static 'images/about/icon_graduate.png'%}" style= "width:5%;">
                <!-- <%= image_tag("about/icon_graduate.png", style: "width:5%;") %> -->
                <span class="scale-item">UNIST Graduate</span>
                <span class="scale-bar" style="width:58%;">29</span>
              </div>
              <div style="margin-top: 5px;">
                <img src= "{% static 'images/about/icon_graduate.png'%}" style= "width:5%;">
                <!-- <%= image_tag("about/icon_graduate.png", style: "width:5%;") %> -->
                <span class="scale-item">Others Graduate</span>
                <span class="scale-bar" style="width:6%;">3</span>
              </div>
              <div style="margin-top: 5px;">
                <img src= "{% static 'images/about/icon_founder.png'%}" style= "width:5%;">
                <!-- <%= image_tag("about/icon_founder.png", style: "width:5%;") %> -->
                <span class="scale-item">Founded</span>
                <span class="scale-bar" style="width:1%;">&nbsp;</span>
              </div>
              <div style="margin-top: 5px;">
                <img src= "{% static 'images/about/icon_job.png'%}" style= "width:5%;">
                <!-- <%= image_tag("about/icon_job.png", style: "width:5%;") %> -->
                <span class="scale-item">Job</span>
                <span class="scale-bar" style="width:28%;">14</span>
              </div>
              <div style="margin-top: 5px;">
                <img src= "{% static 'images/about/icon_military.png'%}" style= "width:5%;">
                <!-- <%= image_tag("about/icon_military.png", style: "width:5%;") %> -->
                <span class="scale-item">Military</span>
                <span class="scale-bar" style="width:4%;">1</span>
              </div>
              <div style="margin-top: 5px; text-align: right;">
                <span class="scale-item">단위: 명<br/></span>
              </div>
            </div>
          </div>

          <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-4">
              <div style="margin-top: 50px; text-align: center;">
                <p>graduate</p>
                <img src= "{% static 'images/about/graduate_circle.png'%}" style= "width:40%;">
                <!-- <%= image_tag("about/graduate_circle.png", style: "width:40%;") %> -->
                <br>
                <img src= "{% static 'images/about/graduate_1st.png'%}" style= "width:10%;" margin-top= "15px;">
                <!-- <%= image_tag("about/graduate_1st.png", style: "width:10%; margin-top:15px;") %> -->
                <br>
                <span style="font-size: 40px !important; color: dimgrey">34</span>
                <span style="font-size: 13px; color: dimgrey;">명</span>
              </div>            
            </div>

            <div class="col-md-8">
              <div style="margin-top: 70px;">
                <img src= "{% static 'images/about/icon_graduate.png'%}" style= "width:5%;">
                <!-- <%= image_tag("about/icon_graduate.png", style: "width:5%;") %> -->
                <span class="scale-item">UNIST Graduate</span>
                <span class="scale-bar" style="width:6%;">3</span>
              </div>
              <div style="margin-top: 5px;">
                <img src= "{% static 'images/about/icon_graduate.png'%}" style= "width:5%;">
                <!-- <%= image_tag("about/icon_graduate.png", style: "width:5%;") %> -->
                <span class="scale-item">Others Graduate</span>
                <span class="scale-bar" style="width:5%;">2</span>
              </div>
              <div style="margin-top: 5px;">
                <img src= "{% static 'images/about/icon_founder.png'%}" style= "width:5%;">
                <!-- <%= image_tag("about/icon_founder.png", style: "width:5%;") %> -->
                <span class="scale-item">Founded</span>
                <span class="scale-bar" style="width:4%;">1</span>
              </div>
              <div style="margin-top: 5px;">
                <img src= "{% static 'images/about/icon_job.png'%}" style= "width:5%;">
                <!-- <%= image_tag("about/icon_job.png", style: "width:5%;") %> -->
                <span class="scale-item">Job</span>
                <span class="scale-bar" style="width:21%;">7</span>
              </div>
              <div style="margin-top: 5px; text-align: right;">
                <span class="scale-item">단위: 명<br/></span>
              </div>
            </div>

          </div>

        </div>

        <div class="row area_row" style="margin-top: -150px; margin-bottom: 10px">
          <div class="col-md-5">
            <div id="job-icon-container">
              <img src= "{% static 'images/about/icon_job.png'%}" style= "width:5%;">
              <!-- <%= image_tag("about/icon_job.png", style: "width:5%;") %> -->
              <span class="scale-item" style="width: 5%;">Job</span>
            </div>
          </div>
        </div>
        <div class="row area_row">
          <div class="col-md-10">
            <div id="job-item-container">
              <span class="job-item">&#9679; LG display</span>
              <span class="job-item">&#9679; SAMSUNG sds</span>
              <span class="job-item">&#9679; LG electronics</span>
              <span class="job-item">&#9679; SAMSUNG semes</span>
              <span class="job-item">&#9679; EST soft</span>
              <span class="job-item">&#9679; WEAVUS</span>
              <span class="job-item">&#9679; KOSHA</span>
              <span class="job-item">&#9679; HYUNDAI glovis</span>
              <span class="job-item">&#9679; LG</span>
              <span class="job-item">&#9679; ASML</span>
              <span class="job-item">&#9679; Sangwha</span>
              <span class="job-item">&#9679; Fast Campus</span>
              <br>
              <br>
              <span class="job-item2">&#9679; LG electronics H&A</span>
              <span class="job-item2">&#9679; LG electronics CTO</span>
              <span class="job-item2">&#9679; HYUNDAI Heavy Industries</span>
            </div>
          </div>
        </div>
      </div>
      <div id="area_wrapper" class="about_wrappers" align="center">
        <span style="font-size: 2.1rem;">What is HFE</span>
        <h2>&middot;</h2>
        <div class="row area_row">
          <div class="what-is-list">
            <div class="col-md-10 col-xs-10">
              <p>How did Apple design Apple Watch by UI/UX engineering?</p>
            </div>
            <div class="col-md-2 col-xs-2">
              <a href="http://abcnews.go.com/Nightline/video/inside-apples-top-secret-health-lab-apple-watch-29804218" target="_blank">
                <img src= "{% static 'images/about/play_btn.png'%}" style= "width:4rem;"> 
                <!-- <%= image_tag("about/play_btn.png", style: 'width:4rem;') %> -->
              </a>
            </div>
          </div>
          <div class="what-is-list">
            <div class="col-md-10 col-xs-10">
              <p>How does Volkswagen design more comfortable workplace?</p>
            </div>
            <div class="col-md-2 col-xs-2">
              <a href="https://www.youtube.com/watch?v=05ChaWGJ0-A" target="_blank">
                <img src= "{% static 'images/about/play_btn.png'%}" style= "width:4rem;"> 
                <!-- <%= image_tag("about/play_btn.png", style: 'width:4rem;') %> -->
              </a>
            </div>
          </div>
          <div class="what-is-list">
            <div class="col-md-10 col-xs-10">
              <p>How does NIKE design their products using Sports Biomechanics?</p>
            </div>
            <div class="col-md-2 col-xs-2">
              <a href="https://www.youtube.com/watch?v=g8QIYfWsYDg" target="_blank">
                <img src= "{% static 'images/about/play_btn.png'%}" style= "width:4rem;"> 
                <!-- <%= image_tag("about/play_btn.png", style: 'width:4rem;') %> -->
              </a>
            </div>
          </div>
          <div class="what-is-list">
            <div class="col-md-10 col-xs-10">
              <p>How do researchers design assistive devices using Brain-Computer Interfaces?</p>
            </div>
            <div class="col-md-2 col-xs-2">
              <a href="https://www.youtube.com/watch?v=7t84lGE5TXA" target="_blank">
                <img src= "{% static 'images/about/play_btn.png'%}" style= "width:4rem;"> 
                <!-- <%= image_tag("about/play_btn.png", style: 'width:4rem;') %> -->
              </a>
            </div>
          </div>
          <div class="what-is-list">
            <div class="col-md-10 col-xs-10">
              <p>How do we interact with computers in future?</p>
            </div>
            <div class="col-md-2 col-xs-2">
              <a href="https://www.youtube.com/watch?v=w-tFdreZB94" target="_blank">
                <img src= "{% static 'images/about/play_btn.png'%}" style= "width:4rem;"> 
                <!-- <%= image_tag("about/play_btn.png", style: 'width:4rem;') %> -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- 본문 내용 끝 -->
    <!-- 중앙 정렬을 위한 col -->
    <div class="col-md-1 col-xs-1"></div>
  </div>
</div>

{% endblock content %}