{% extends 'hfe/en/layouts/application.html' %}


{% block footer %}
	<!-- Footer -->
	<footer>
		<div style="display: table; height:100%; width:100%; color:white;">
			<div style="display: table-cell; vertical-align: middle; width:10%; font-size: 36px; text-align: center;">
				HFE
			</div>
			<div style="display: table-cell; vertical-align: middle; width:90%; font-size: 14px; font-family: 'kopub_dotum_light'; font-weight: 100; line-height: 16px;">
				Department of Human Factors Engineering / School of Design and Human Engineering<br/>
				Ulsan National Institute of Science and Technology<br/>
				Tel: 052-217-3566 Fax: 052-217-0114
			</div>
		</div>
	</footer>
{% endblock footer %}
	
