{% extends 'hfe/en/layouts/application.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="container">
  <br>
  <br>
  <div class="faculty_title" style="margin-top:50px;">
    <span style="font-size: 2.1rem">Faculty</span>  
  </div>

  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-3 col-xs-4">
      <img src= "{% static 'images/faculty/mwlee.png'%}" style= "width:80%;" class="faculty_pic"> 
      <!-- <%= image_tag("faculty/mwlee.png", style: "width:80%;", class: "faculty_pic") %>    -->
    </div>
    <div class="faculty_brief">
      <div class="col-md-7 col-xs-4">
        <div class="professor_name">Myunwoo Lee</div>
        <div class="professor_position">Chaired Professor</div>
        <div class="professor_email">mwlee@unist.ac.kr</div>
        <div class="professor_phone">052-217-2717</div>
        <br/>
      </div>
      <!-- <div class="col-md-1 col-xs-2"> -->
        <!-- <a href="http://ixlab.unist.ac.kr" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;" id="logo"><img src="{% static 'images/faculty/arrow1.png' %}" alt=""></a>  -->
        <!-- <%= link_to image_tag('faculty/arrow1.png'), "http://ixlab.unist.ac.kr", style:"color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;", id:"logo" %> -->
      <!-- </div> -->
    </div>
    <div class="faculty_detail">
      <div class="col-md-1 col-xs-2"></div>
      <div class="col-md-3 col-xs-4">
        Human Factors Engineering<br/>
        High Touch<br/>
      </div>
      <div class="col-md-4 col-xs-4">
        Human Factors Engineering, Ph.D.<br/>
        from University of Michigan, 1979 
      </div>  
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-3 col-xs-4">
      <img src= "{% static 'images/faculty/ghkyung.png'%}" style= "width:80%;" class="faculty_pic">
      <!-- <%= image_tag("faculty/ghkyung.png", style: "width:80%;", class: "faculty_pic") %>    -->
    </div>
    <div class="faculty_brief">
      <div class="col-md-7 col-xs-4">
        <div class="professor_name">Gyouhyung Kyung</div>
        <div class="professor_position">Associate Professor</div>
        <div class="professor_email">ghkyung@unist.ac.kr</div>
        <div class="professor_phone">052-217-2711</div>
        <br/>
      </div>
      <div class="col-md-1 col-xs-2">
        <a href="http://ixlab.unist.ac.kr" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;" id="logo"><img src="{% static 'images/faculty/arrow1.png' %}" alt=""></a> 
        <!-- <%= link_to image_tag('faculty/arrow1.png'), "http://ixlab.unist.ac.kr", style:"color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;", id:"logo" %> -->
      </div>
    </div>
    <div class="faculty_detail">
      <div class="col-md-1 col-xs-2"></div>
      <div class="col-md-3 col-xs-4">
          Human-Machine Interface<br/>
          Neuroergonomics<br/>
          Visual Ergonomics<br/>
          Vehicle Ergonomics<br/>
          Digital Human Modeling<br/>
          User-Centered Design
      </div>
      <div class="col-md-4 col-xs-4">
          Industrial and Systems Engineering, Ph.D.<br/>
          from Virginia Tech, Virginia, U.S.A., 2008
      </div>  
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-3 col-xs-4">
      <img src= "{% static 'images/faculty/yskwak.png'%}" style= "width:80%;" class="faculty_pic">
      <!-- <%= image_tag("faculty/yskwak.png", style: "width:80%;", class: "faculty_pic") %>    -->
    </div>
    <div class="faculty_brief">
      <div class="col-md-7 col-xs-4">
        <div class="professor_name">YoungShin Kwak</div>
        <div class="professor_position">Associate Professor</div>
        <div class="professor_email">yskwak@unist.ac.kr</div>
        <div class="professor_phone">052-217-2710</div>
        <br/>
      </div>
      <div class="col-md-1 col-xs-2">
        <a href="http://yskwak.unist.ac.kr" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;" id="logo"><img src="{% static 'images/faculty/arrow1.png' %}" alt=""></a> 
        <!-- <%= link_to image_tag('faculty/arrow1.png'), "http://yskwak.unist.ac.kr", style:"color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;", id:"logo" %> -->
      </div>
    </div>
    <div class="faculty_detail">
      <div class="col-md-1 col-xs-2"></div>
      <div class="col-md-3 col-xs-4">
          Color engineering<br/>
          Affective engineering
      </div>
      <div class="col-md-4 col-xs-4">
          Colour & Imaging Institute, Ph.D.<br/>
          from University of Derby, 2003
      </div>  
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-3 col-xs-4">
      <img src= "{% static 'images/faculty/oskwon.png'%}" style= "width:80%;" class="faculty_pic">
      <!-- <%= image_tag("faculty/oskwon.png", style: "width:80%;", class: "faculty_pic") %>    -->
    </div>
    <div class="faculty_brief">
      <div class="col-md-7 col-xs-4">
        <div class="professor_name">OhSang Kwon</div>
        <div class="professor_position">Assistant Professor</div>
        <div class="professor_email">oskwon@unist.ac.kr</div>
        <div class="professor_phone">052-217-2735</div>
        <br/>
      </div>
      <div class="col-md-1 col-xs-2">
        <a href="http://pal.unist.ac.kr" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;" id="logo"><img src="{% static 'images/faculty/arrow1.png' %}" alt=""></a> 
        <!-- <%= link_to image_tag('faculty/arrow1.png'), "http://pal.unist.ac.kr/", style:"color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;", id:"logo" %> -->
      </div>
    </div>
    <div class="faculty_detail">
      <div class="col-md-1 col-xs-2"></div>
      <div class="col-md-3 col-xs-4">
          Human Perception & Action
      </div>
      <div class="col-md-4 col-xs-4">
          Mathematical Psychology, Ph.D.<br/>
          from Purdue University
      </div>  
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-3 col-xs-4">
      <img src= "{% static 'images/faculty/spkim.png'%}" style= "width:80%;" class="faculty_pic">
      <!-- <%= image_tag("faculty/spkim.png", style: "width:80%;", class: "faculty_pic") %>    -->
    </div>
    <div class="faculty_brief">
      <div class="col-md-7 col-xs-4">
        <div class="professor_name">Sung-Phil Kim</div>
        <div class="professor_position">Associate Professor</div>
        <div class="professor_email">spkim@unist.ac.kr</div>
        <div class="professor_phone">052-217-2727</div>
        <br/>
      </div>
      <div class="col-md-1 col-xs-2">
        <a href="http://bci.unist.ac.kr" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;" id="logo"><img src="{% static 'images/faculty/arrow1.png' %}" alt=""></a> 
        <!-- <%= link_to image_tag('faculty/arrow1.png'), "http://bci.unist.ac.kr", style:"color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;", id:"logo" %> -->
      </div>
    </div>
    <div class="faculty_detail">
      <div class="col-md-1 col-xs-2"></div>
      <div class="col-md-3 col-xs-4">
          Neuroengineering
      </div>
      <div class="col-md-4 col-xs-4">
          Electronics and Computer Engineering, Ph.D.<br/>
          from University of Florida, 2005
      </div>  
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-3 col-xs-4">
      <img src= "{% static 'images/faculty/gshin.png'%}" style= "width:80%;" class="faculty_pic">
      <!-- <%= image_tag("faculty/gshin.png", style: "width:80%;", class: "faculty_pic") %>    -->
    </div>
    <div class="faculty_brief">
      <div class="col-md-7 col-xs-4">
        <div class="professor_name">Gwanseob Shin</div>
        <div class="professor_position">Associate Professor</div>
        <div class="professor_email">gshin@unist.ac.kr</div>
        <div class="professor_phone">052-217-2719</div>
        <br/>
      </div>
      <div class="col-md-1 col-xs-2">
        <a href="http://ergolab.unist.ac.kr" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;" id="logo"><img src="{% static 'images/faculty/arrow1.png' %}" alt=""></a> 
        <!-- <%= link_to image_tag('faculty/arrow1.png'), "http://ergolab.unist.ac.kr/", style:"color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;", id:"logo" %> -->
      </div>
    </div>
    <div class="faculty_detail">
      <div class="col-md-1 col-xs-2"></div>
      <div class="col-md-3 col-xs-4">
          Physical ergonomics<br/>
          Biomechanics
      </div>
      <div class="col-md-4 col-xs-4">
          Industrial Engineering, Ph.D.<br/>
          from North Carolina State University, 2005
      </div>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-3 col-xs-4">
      <img src= "{% static 'images/faculty/ian.png'%}" style= "width:80%;" class="faculty_pic">
      <!-- <%= image_tag("faculty/ian.png", style: "width:80%;", class: "faculty_pic") %>    -->
    </div>
    <div class="faculty_brief">
      <div class="col-md-7 col-xs-4">
        <div class="professor_name">Ian Oakley</div>
        <div class="professor_position">Associate Professor</div>
        <div class="professor_email">ian.r.oakley@gmail.com</div>
        <div class="professor_phone">052-217-2724</div>
        <br/>
      </div>
      <div class="col-md-1 col-xs-2">
        <a href="http://interactions.unist.ac.kr" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;" id="logo"><img src="{% static 'images/faculty/arrow1.png' %}" alt=""></a> 
        <!-- <%= link_to image_tag('faculty/arrow1.png'), "http://interactions.unist.ac.kr", style:"color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;", id:"logo" %> -->
      </div>
    </div>
    <div class="faculty_detail">
      <div class="col-md-1 col-xs-2"></div>
      <div class="col-md-3 col-xs-4">
          Human-computer Interaction
      </div>
      <div class="col-md-4 col-xs-4">
          Computer Science, Ph.D.<br/>
          from University of Glasgow, 2003
      </div>  
    </div>
  </div><!-- row -->
  
  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-3 col-xs-4">
      <img src= "{% static 'images/faculty/dichung.png'%}" style= "width:80%;" class="faculty_pic">
      <!-- <%= image_tag("faculty/dichung.png", style: "width:80%;", class: "faculty_pic") %>    -->
    </div>
    <div class="faculty_brief">
      <div class="col-md-7 col-xs-4">
        <div class="professor_name">Dongil Chung</div>
        <div class="professor_position">Assistant Professor</div>
        <div class="professor_email">dchung@unist.ac.kr</div>
        <div class="professor_phone">052-217-2744</div>
        <br/>
      </div>
      <div class="col-md-1 col-xs-2">
        <a href="http://dnce.unist.ac.kr" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;" id="logo"><img src="{% static 'images/faculty/arrow1.png' %}" alt=""></a> 
        <!-- <%= link_to image_tag('faculty/arrow1.png'), "http://dnce.unist.ac.kr", style:"color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;", id:"logo" %> -->
      </div>
    </div>
    <div class="faculty_detail">
      <div class="col-md-1 col-xs-2"></div>
      <div class="col-md-3 col-xs-4">
          Decision Neuroscience<br/>
          Neuroimaging & Computational modeling
      </div>
      <div class="col-md-4 col-xs-4">
          Bio and Brain Engineering, Ph.D.<br/>
          from KAIST, 2011
      </div>  
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-1 col-xs-2"></div>
    <div class="col-md-3 col-xs-4">
      <img src= "{% static 'images/faculty/dooyoung.png'%}" style= "width:80%;" class="faculty_pic">
      <!-- <%= image_tag("faculty/dooyoung.png", style: "width:80%;", class: "faculty_pic") %>    -->
    </div>
    <div class="faculty_brief">
      <div class="col-md-7 col-xs-4">
        <div class="professor_name">Dooyoung Jung</div>
        <div class="professor_position">Assistant Professor, UNIST Healthcare Center Director</div>
        <div class="professor_email">dooyoung@unist.ac.kr</div>
        <div class="professor_phone">052-217-2739</div>
        <br/>
      </div>
      <div class="col-md-1 col-xs-2">
        <a href="https://sites.google.com/view/unist-healthcare-lab" style="color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;" id="logo"><img src="{% static 'images/faculty/arrow1.png' %}" alt=""></a> 
        <!-- <%= link_to image_tag('faculty/arrow1.png'), "https://sites.google.com/view/unist-healthcare-lab", style:"color:black;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; margin-top: 25px; margin-left: 10px;", id:"logo" %> -->
      </div>
    </div>
    <div class="faculty_detail">
      <div class="col-md-1 col-xs-2"></div>
      <div class="col-md-3 col-xs-4">
          Psychiatry<br/>
          Behavioral Sciences
      </div>
      <div class="col-md-4 col-xs-4">
          Psychiatry and Behavioral Sciences, Ph.D.<br/>
          from SNU College of Medicine
      </div>  
    </div>
  </div><!-- row -->
</div> <!-- container -->

{% endblock content %}